<ion-view title="Experience" ng-controller="HomeCtrl" data-ng-init="address();">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/wxhXjusvQ726Hccv461l_Lighthouse.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">{{user.firstName}}&nbsp;{{user.lastName}}</a></h3>
                <h4>{{address.state}}&nbsp;{{address.country}}</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static b419">
            <a ui-sref="app.profileMenu" class="tab-item active">
                <i class="icon ion-arrow-graph-up-right"></i> Address
            </a>
            <a ui-sref="app.qualification" class="tab-item">
                <i class="icon ion-android-people"></i> Qualification
            </a>
            <a ui-sref="app.experience" class="tab-item">
                <i class="icon ion-images"></i> Experience
            </a>
            <a ui-sref="app.reference" class="tab-item">
                <i class="icon ion-images"></i> Refrence
            </a>
            <a ui-sref="app.map" class="tab-item">
                <i class="icon ion-images"></i> Current Location
            </a>
        </div>
        <div class="slide-up">
            <div class="mt49" style="background: url(img/wxhXjusvQ726Hccv461l_Sky.jpg) no-repeat center; background-size: cover;">
                <h4 class="padding mb-18">Experience</h4>
                <hr class="pi">
                <div class="list animate-fade-slide-in-right" ng-repeat = "experience in user.experience_details">
                    <a class="item item-icon-right mb-18 transparent">Company:&nbsp;{{experience.employer}}</a>
                    <a class="item item-icon-right mb-18 transparent">Designation:&nbsp;{{experience.designation}}</a>
                    <a class="item item-icon-right mb-18 transparent">From:&nbsp;{{experience.start_date| date:'dd-MMM-yyyy'}}</a>
                    <a class="item item-icon-right mb-18 transparent">To:&nbsp;{{experience.end_date| date:'dd-MMM-yyyy'}}</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>