<ion-view title="Profile" ng-controller="HomeCtrl" data-ng-init="address();">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/wxhXjusvQ726Hccv461l_Lighthouse.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">{{user.firstName}}&nbsp;{{user.lastName}}</a></h3>
                <h4>{{address.state}}&nbsp;{{address.country}}</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static b375">
            <a ui-sref="app.profileMenu" class="tab-item active">
                <i class="icon ion-arrow-graph-up-right"></i> Address
            </a>
            <a ui-sref="app.qualification" class="tab-item">
                <i class="icon ion-images"></i> Qualification
            </a>
            <a ui-sref="app.experience" class="tab-item">
                <i class="icon ion-android-people"></i> Experience
            </a>
            <a ui-sref="app.reference" class="tab-item">
                <i class="icon ion-images"></i> Refrence
            </a>
        </div>
        <div class="slide-up">
            <div class="mt49" style="background: url(img/wxhXjusvQ726Hccv461l_Sky.jpg) no-repeat center; background-size: cover;">
                <h4 class="padding mb-18">Personal Information</h4>
                <hr class="pi">
                <div class="list animate-fade-slide-in-right">
                    <!-- <a ui-sref="#" class="item item-avatar item-icon-right">
                        <img src="">
                        <h2>Jon Snow</h2>
                        <p>Da illest illegitimate</p>
                        <i class="icon ion-chatbubble muted"></i>
                    </a> -->
                    <a class="item item-icon-right mb-18 transparent">Email: {{user.email}}</a>
                    <a class="item item-icon-right mb-18 transparent">Date of Birth: {{user.dob| date:'dd-MMM-yyyy'}}</a>
                    <a class="item item-icon-right mb-18 transparent">Gender: {{user.gender}}</a>
                    <a class="item item-icon-right mb-18 transparent">Contact No: {{user.phonePre}}-{{user.phoneNumber}}</a>
                </div>
                <hr class="ad">
                <h4 class="content padding double-padding-x mb-18">Address</h4>
                <div class="list animate-fade-slide-in-right" ng-repeat = "address in user.address">
                    <a class="item item-icon-right mb-18 transparent ml190">{{address.addressType}}</a>
                    <a class="item item-icon-right mb-18 transparent">{{address.addressLine1}}</a>
                    <a class="item item-icon-right mb-18 transparent">{{address.addressLine2}}</a>
                    <a class="item item-icon-right mb-18 transparent">{{address.city}}&nbsp;{{address.state}}</a>
                    <a class="item item-icon-right mb-18 transparent">{{address.pincode}}&nbsp;{{address.country}}</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>