<ion-view title="User" ng-controller="userCtrl" ng-init="user();">
	<ion-header-bar class="bar bar-subheader">
 		<h1 class="title ml80p cursor" data-ng-click="logOut();">Logout</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
        	<ion-scroll zooming="true" direction="xy" style="width: auto; height: auto">
	        	<table class="table table-bordered">
	        		<thead>
		    			<tr>
				            <th class="text-center">Name</th>
				            <th class="text-center">Email</th>
				            <th class="text-center">Username</th>
				            <th class="text-center">Confirmed</th>
				            <th class="text-center">Roles</th>
				            <th class="text-center">Joining Date</th>
				        </tr>
				    </thead>
				    <tbody>
					    <tr data-ng-repeat="user in users" class="anchorTag" data-ng-show="users.length>0">
				            <td>{{user.name}}</td>
				            <td>{{user.email}}</td>
				            <td>{{user.username}}</td>
				            <td><div ng-show="{{user.confirmed}}">True</div>
				                <div ng-hide="{{user.confirmed}}">False</div>
				            </td>
				            <td>
				            	<span ng-repeat="role in user.role">{{role.name}}<span ng-hide="$last">,&nbsp;</span></span>
				            </td>
				            <td>
				                {{user.confirmedAt | date:'dd-MMM-yyyy'}}
				            </td>
			        	</tr>
			        </tbody>
			    </table>
 			</ion-scroll>
        </ion-list>
    </ion-content>
</ion-view>